flows/ZipCodeValidator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CallOutZipApi</name>
        <label>CallOutZipApi</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>CallOutZipCode.CalloutZip</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>OutComeScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>zipcode</name>
            <value>
                <elementReference>ZipCodeText</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>MX</name>
        <choiceText>MX</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MX</stringValue>
        </value>
    </choices>
    <choices>
        <name>US</name>
        <choiceText>US</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>US</stringValue>
        </value>
    </choices>
    <decisions>
        <name>SaveResponse</name>
        <label>SaveResponse</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SaveNonUSCountries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CallOutZipApi.2XX.country</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>US</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SaveResponseApi</targetReference>
            </connector>
            <label>SaveNonUSCountries</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ZipCodeValidator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ZipCodeValidator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>SaveResponseApi</name>
        <label>SaveResponseApi</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>CallOutZipApi.2XX.postx20code</elementReference>
            </value>
        </inputAssignments>
        <object>Log4Api__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>EnterZipCode</name>
        <label>EnterZipCode</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CallOutZipApi</targetReference>
        </connector>
        <fields>
            <name>Country</name>
            <choiceReferences>US</choiceReferences>
            <choiceReferences>MX</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>MX</defaultSelectedChoiceReference>
            <fieldText>Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ZipCodeText</name>
            <dataType>String</dataType>
            <fieldText>ZipCode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OutComeScreen</name>
        <label>OutComeScreen</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SaveResponse</targetReference>
        </connector>
        <fields>
            <name>outComeZipCode</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;PostCode&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{&lt;/strong&gt;!CallOutZipApi.2XX.postx20code}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;CountryAbbrev:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CallOutZipApi.2XX.countryx20abbreviation}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Places:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CallOutZipApi.2XX.places}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EnterZipCode</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ResponseText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
